awscli==1.19.48
botocore==1.20.48
boto3==1.17.48
cfn-lint==0.33.2
isort==4.3.21
mypy==0.770
moto==1.3.14
mock==4.0.2
numpy==1.18.5
PyYAML==5.4
pydocstyle==5.0.2
pytest==5.4.1
pytest-cov==2.8.1
pytest-xdist==1.31.0
pytest-html==2.1.1
pytest-mock==3.3.1
pyspark==2.4.3
pylint==2.4.4
Pygments==2.7.4
sphinx==3.0.1
sphinx_bootstrap_theme==0.7.1
wheel==0.34.2
